opencv-python-headless
ultralytics
streamlit
panda
numpy
plotly
pillow
onnxruntime
scikit-learn
openpyxl
requests
pytz
streamlit-autorefresh
edge-tts
scikit-learn
xlsxwriter
opencv-python-headless
torch
torchvision
