streamlit==1.45.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
ultralytics==8.3.161
torch==2.7.1
torchvision==0.22.1
pandas==2.2.3
plotly==6.1.2
pillow==11.2.1
openpyxl==3.1.5
requests==2.32.3
pytz==2025.2
streamlit-autorefresh==1.0.1
edge-tts==7.0.2
xlsxwriter==3.2.5
onnxruntime==1.22.0
scikit-learn==1.6.1
