streamlit
pandas
numpy
scikit-learn
plotly
openpyxl
streamlit-autorefresh
ultralytics
opencv-python-headless
torch
torchvision
tensorflow
pillow
ultralytics
torchvision
torch
opencv-python-headless
requests
scikit-learn
pytz
